streamlit
langgraph
langchain-groq
python-dotenv
yfinance
scikit-learn
pandas
numpy
matplotlib
seaborn
joblib
qdrant-client
sentence-transformers
xgboost
lightgbm

#pip install streamlit langgraph langchain-groq python-dotenv yfinance scikit-learn pandas numpy matplotlib seaborn joblib qdrant-client sentence-transformers xgboost lightgbm